*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
  span {
    font-size: 12px;
  }
  a {
    color: black;
  }
}

body {
  background: $body-background-color;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-top: 70px;
  color: $white;
}
