.navbar-default {
  background-color: $nav-background-color;
  border-color: $nav-border-color;
  border-bottom: none;
  .navbar-brand {
    background-color: $nav-background-color;
    border-color: $nav-border-color;
    border: 4px solid;
    height: 70px;
    width: 76px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    margin-top: 20px;
    position: fixed;
    color: $nav-font-color;
    font-weight: 500;
    font-size: 35px;
    &:hover {
      border-color: $nav-border-color;
      background-color: $nav-background-color;
    }
    &:focus {
      border-color: $nav-border-color;
      background-color: $nav-background-color;
    }
  }
}

.mdi {
  padding-top: 20px;
  color: $icon-color;
  font-size: 48px;
}

.menu-navigation {
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: black;
  z-index: 1;
  right: 0;
  top: 0;
}

.menu-button {
  cursor: pointer;
}
