.navbar-default {
  background-color: $nav-background-color;
  border-color: $nav-border-color;
  border-bottom: none;
  .navbar-brand {
    background-color: $nav-background-color;
    border-color: $nav-border-color;
    border: 4px solid;
    height: 70px;
    width: 76px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    margin-top: 20px;
    position: fixed;
    color: $nav-font-color;
    font-weight: 500;
    font-size: 35px;
    &:hover {
      border-color: $nav-border-color;
      background-color: $nav-background-color;
    }
    &:focus {
      border-color: $nav-border-color;
      background-color: $nav-background-color;
    }
  }
}

i.mdi-add-circle-outline {
  padding-top: 20px;
  color: $icon-color;
  font-size: 48px;
}
.menu-button {
  cursor: pointer;
}

.main-menu {
  .menu-navigation {
    position: fixed;
    width: 30%;
    height: 100%;
    background-color: $menu-background-color;
    opacity: $menu-background-opacity;
    z-index: 1;
    right: 0;
    top: 0;
  }

  ul.menu-ul {
    padding-left: 0px;
    list-style: none;
    position: fixed;
    width: 50%;
    margin-top: 10%;
    margin-left: 20px;
    color: $menu-font-color;
    font-size: 25px;
    li.menu-li {
      margin: 20px 0px;
      padding: 10px 0px;

      ::before {
        visibility: hidden;
        padding-right: 20px;
        vertical-align: -19%;
        content: url('https://s3-us-west-2.amazonaws.com/port-blog/ic_label_outline_white_36px.svg')
      }
      :hover::before {
        visibility: visible;
     }
      a.menu-link {
        color: $menu-font-color;
        word-wrap: break-word;
      }
      a:hover, a:focus {
        text-decoration: none;
      }
    }
 }

}
