$nav-background-color:  transparent;
$nav-border-color:      #FFFFFF;
$nav-font-color:        #FFFFFF;

$font-white:            #FFFFFF;
$font-black:            #000000;
$font-color:            #666666;

$icon-color:            #FFFFFF;
