$white:                     #FFFFFF;
$black:                     #000000;
$grey:                      #696969;

$nav-background-color:      transparent;
$nav-border-color:          $white;
$nav-font-color:            $white;
$menu-background-color:     $grey;
$menu-background-opacity:   0.9;
$menu-font-color:           $white;

$font-white:                $white;
$font-black:                $black;
$font-color:                $grey;

$icon-color:                $white;
