<div class="title-container">
  <h1>Portfolio</h1>
  <p>These are just a few of the projects I have worked on. My public samples are limited due to military
    <br>and internal corporate work I have done. Let me know if you want to discuss more!</p>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><span class="side-nav-title">WEB DEV</span></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="sidebar-link" href="#">Fidelity</a></li>
        <li><a class="sidebar-link" href="#">dliflc.edu</a></li>
        <li><a class="sidebar-link" href="#">Launch</a></li>
        <li><a class="sidebar-link" href="#">Wedding</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><span class="side-nav-title">Design</span></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="sidebar-link" href="#">Logos</a></li>
        <li><a class="sidebar-link" href="#">Web</a></li>
        <li><a class="sidebar-link" href="#">Tattoos</a></li>
        <li><a class="sidebar-link" href="#">laksdjf</a></li>
      </ul>

    </div>

        {{port-panel}}

  </div>
</div>
