<div class="container">

<div class="title-container">
<h1>Portfolio</h1>
<p>These are just a few of the projects I have worked on. My public samples
  are limited due to military<br>and internal corporate work I have done. Let me know if you want
  to discuss more!</p>
</div>



  <div class="content">

    <div class="grid">
      <figure class="effect-terry">
        <img src="https://s3-us-west-2.amazonaws.com/port-blog/EchoForest.png" alt="img16"/>
        <a href="http://dliflc.edu/" target="_blank"><figcaption>
          <h2>Fidelity</h2>
        </figcaption></a>
      </figure>
      <figure class="effect-terry">
        <img src="https://s3-us-west-2.amazonaws.com/port-blog/dli-edu-mil.png" alt="img26"/>
        <a href="http://dliflc.edu/" target="_blank"><figcaption>
          <h2>US Army</h2>
        </figcaption></a>
      </figure>
    </div>

    <div class="grid">
      <figure class="effect-terry">
        <img src="https://s3-us-west-2.amazonaws.com/port-blog/pangr.png" alt="img16"/>
        <a href="http://pangr.herokuapp.com/" target="_blank"><figcaption>
          <h2>Panger</h2>
        </figcaption></a>
      </figure>
      <figure class="effect-terry">
        <img src="https://s3-us-west-2.amazonaws.com/port-blog/K%2BS-wedding.png" alt="img26"/>
        <a href="http://steveandkyrstin.com/" target="_blank"><figcaption>
          <h2>Wedding</h2>
        </figcaption></a>
      </figure>
    </div>

  </div>

</div>
