<div class="col-md-9">
  <div class="port-image-container">
    <a href="{{content.siteLink}}" target="_blank"><img class="img-responsive" src="{{content.url}}" alt=""></a>
    <div class="port-text-container">
      <h4>{{content.value}}</h4>
      <p>{{content.description}}</p>
    </div>
  </div>

</div>
