<div class="col-md-9">

    <div class="thumbnail">
        <img class="img-responsive" src="{{content.url}}" alt="">
        <div class="caption-full">
            <h4><a href="">{{content.value}}</a></h4>
            <p>{{content.description}}</p>
        </div>
    </div>

</div>
