
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EF</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li>
          {{#link-to "blog"}}Blog{{/link-to}}
        </li>
        <li>
          {{#link-to "post"}}Post{{/link-to}}
        </li> -->
        <li class="menu-button" {{action 'menuDisplay'}}>
          {{material-design-icon name='add-circle-outline' iconClass='add-icon'}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{#if isDisplayMenu}}

  <div class="main-menu">
    <div id="menu-box" class="menu-navigation" {{action 'menuDisplay'}}>

      <ul class="menu-ul">
        <li class="menu-li">
          {{#link-to "blog" class="menu-link"}}Portfolio{{/link-to}}
        </li>
        <li class="menu-li">
          {{#link-to "post" class="menu-link"}}Post{{/link-to}}
        </li>
        <li class="menu-li">
          {{#link-to "blog" class="menu-link"}}Message Board{{/link-to}}
        </li>
      </ul>

    </div>
  </div>

{{/if}}

{{outlet}}
