<div class="about-style" >

  <div class="about-background-image">
  </div>

  <div class="container-fluid" >
  	<div class="row" style="display:table;">
  		<div class="col-md-2 col-sm-2">
  		</div>
  		<div class="col-md-6 col-sm-6 about-frame">
        <div class="about-content" >
         <h1>about</h1>
         <p>
           Developer and former Army Officer with over 3 years of front end experience.
           Consistently oversaw multiple projects from planning to execution.
           Highly skilled in identifying project requirements while maintaining
           projected timelines and budgets. Able to use strong interpersonal
           skills while working with creative teams to produce high quality results.
         </p>
        </div>
  		</div>
  		<div class="col-md-4 col-sm-2">
  		</div>
  	</div>
  </div>

</div>
